<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="15 seconds">
    <contextName>myAppName</contextName>
	<property name="LOG_HOME" value="D:/Projects/Helloworld/13-springboot-logging/logs/" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- 
			%d{HH:mm:ss.SSS} – a timestamp with hours, minutes, seconds and milliseconds
            [%thread]        – the thread name generating the log message, surrounded by square brackets
            %-5level         – the level of the logging event, padded to 5 characters
            %logger{36}      – the name of the logger, truncated to 35 characters
            %msg%n           – the log messages followed by the platform dependent line separator character
			-->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <!-- daily rollover -->
	      <FileNamePattern>${LOG_HOME}/server.%d{yyyy-MM-dd}.log</FileNamePattern>
	      <!-- keep 30 days' worth of history capped at 3MB total size -->
	      <maxHistory>30</maxHistory>
	      <totalSizeCap>3MB</totalSizeCap>
	    </rollingPolicy>
	    <encoder><pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
    </appender>
	<!-- A Logback context
	<logger name="com.flysky.logback" level="INFO" /> 
	ch.qos.logback.classic.Logger logger = 
	(ch.qos.logback.classic.Logger)LoggerFactory.getLogger("com.flysky.logback");
    -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>